:root{
    --greyText: #999999;
    --black: #000000;
    --gray: #e6e6e6;
    --prevasBlue: #55c1d2;
    --lightBack: #e6eaf9;
    --red: #ed3b21;
    --yellow: #ffaa01;
    --green: #7ac943;
    --blue: #17a2cc;
    --orange: #f96b1f;
    --brown: #c47e6e;
    --gold: #b5b04d;
    --pink: #dd739f;
    --purple: #662d91;
}
